@model RustamGapurovEndTask.AdminPanel.Models.ProductModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Ekle</h1>


 <form asp-action="AddProduct" asp-controller="Home">
                    <div class="form-group mb-3">
                        <label for="productName">Ürün Adı</label>
                        <input asp-for="@Model.Name" type="text" class="form-control" id="productName" placeholder="Ürün Adı" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="productPrice">Ürün Fiyatı</label>
                        <input asp-for="@Model.Price" type="text" class="form-control" id="productPrice" placeholder="Ürün Fiyatı" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="productQuantity">Miktar</label>
                        <input onchange="quentityValidation()" asp-for="@Model.Quantity" type="number" class="form-control" id="productQuantity" value="0" required>
                    </div>
                   @* <div class="form-group mb-3">
                        <label for="productCategory">Kategori</label>
                        <select asp-for="@Model.CategoryName" id="productCategory" class="form-control mb-3">
                            @{
                                var getlist = ViewBag.CategoryList as IEnumerable<CategoryModel>;

                                foreach (CategoryModel category in getlist)
                                {
                                    <option value="@category.Name">@category.Name</option>
                                }
                            }
                        </select>
                    </div>*@
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-success">Ürün Oluştur</button>
                    </div>
                </form>